.contacts__invites {
  padding: 26px 0 ;
}

.contacts__invite {
  display: inline-block;
  margin: 0;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__address {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
