.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    align-items: center;
    padding: 0;
  }
}

.copyright__link-title {
  color: #444444;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-right: 22px;
    padding: 0;
  }
}
