.example {
  margin: 0 auto;
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.example__title {
  margin: 0;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__result {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.example__result-total {
  display: inline-block;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.example__note {
  display: block;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__result-cost {
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
