.main-header {
  margin: 0 auto;
  padding: 11px 0 17px;
}

.main-nav__list {
  .list-style();
}

.main-nav__link {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
}
