.product-extra__title {
  margin: 0;
  padding: 25px 0 36px;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.product-extra__list {
  .list-style();
}

.product-extra__item {
  padding: 13px 0 19px;
}

.product-extra__item-title {
  margin: 0;
  text-transform: uppercase;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.product-extra-content__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.product-extra__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
