.product {
  padding: 41px 0 25px;
}

.product__list {
  .list-style();
}

.product__more-value {
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product__more-note {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.product__more-button {
  display: block;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
}
