.program-selection__wrapper {
  // width: 320px;
  // padding: 0 20px;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../img/program-selection-bg-image.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 302px, 320px 302px;
}

.program-selection__title {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program-selection__slogan {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 302px;
}

.program-selection__general-slogan {
  position: relative;
  padding-top: 27px;
  padding-bottom: 3px;
  // text-align: center;
  // width: 280px;
}

.program-selection__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.program-selection__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.program-selection__item {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}

.program-selection__item:last-child {
  margin-bottom: 20px;
}

.program-selection__target {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.program-selection__problem {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.program-selection__button-target {
  padding: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
