.slider__toggles {
  text-align: center;
}

.slider__toggle {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
